$dcBlue: #00388d;
$dcGold: #ffd54f;

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.content-wrapper {
  h1 {
    font-size: 68px;
  }
  h3 {
    font-size: 24px;
    font-weight: 400;
  }
  .slick-next, .slick-arrow {
    border: none;
  }
  .text-blue {
    color: $dcBlue;
  }
}
.productInfo {
  width: 100%;
  padding-bottom: 140px;
  background-color: $dcBlue;

  h2 {
    margin: 4rem  auto;
    color: #fff;
  }
  #blueSlider {
    width: 90%;
    margin: 0 auto;
    padding-left: 3%;
    background-color: lighten($dcBlue, 65%);

    img {
      width: 320px;
      display: inline-block;
    }
    .productInfo-details {
      display: flex;
      align-items: center;
    }
    .productInfo-text {
      display: inline-block;
      width: 50%;
      margin-left: 58px;

      .productInfo-desc {
        margin: 20px 0;
      }
      .productDesc-cta {
        margin: 0;

        span {
          font-weight: 400;
          text-transform: uppercase;
        }
      } // productDesc-cta
    } // productInfo-text
    .slick-dots {
      background-color: lighten($dcBlue, 60%);
      bottom: -120px;
      left: 0;

      li {
        height: 75px;
        width: 90px;
        padding-left: 14px;
        border-left: 1px solid $gray400;

        &:first-child {
          border-left: none;
        }
        img {
          margin: 0 auto;
        }
      } // li
      .slick-active {
        a {
          border-bottom: 2px solid #ddd;
          padding-bottom: 6px;
        }
      } // slick-active
    } // slick-dots
  } // #productsSlider
} // productInfo
