@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper {
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 45px;
    }
    .sectionDivider {
      width: 97%;
    }
    .slick-list {
      margin-left: 0;
    }
  }
  .productInfo {
    text-align: center;
    padding-bottom: 40px;

    #productsSlider {
      padding: 0;

      img {
        width: 150px;
      }
      .productInfo-details {
        flex-direction: column;
      }
      .productInfo-text {
        margin-left: 0;
        width: 95%;

        .productDesc-cta {
          margin-bottom: 60px;
        }
      } // productInfo-text
      .slick-dots {
        bottom: 0;

        li {
          height: 44px;
          width: 50px;
          padding-left: 8px;
        } // li
        .slick-active {
          a {
            padding-bottom: 0;
          }
        }
      }
    } // #productsSlider
  } // productInfo
} // Mobile & Tablet - everything smaller than 1024

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .content-wrapper {
    .one {
      order: 1;
    }
    .two {
      order: 2;
    }
    .three {
      order: 3;
    }
    .four {
      order: 4;
    }
  } // content wrapper
  .productInfo {
    #productsSlider {
      img {
        width: 300px;
        margin-left: -40px;
        margin-right: 40px;
      }
      .productInfo-details {
        flex-direction: row;
        text-align: left;
      }
      .productInfo-text {
        width: 60%;
      }
      .slick-dots {
        bottom: -80px;
        li {
          height: 63px;
          width: 75px;
          padding-left: 12px;
        }
      }
    }
  }// productInfo
} // min 650 to max 1024 - Tablet
