/* Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: #424649;
  background: #DDDDDD;
}

.cms-page-view .column.main img {
  margin: 0;
}

.columns .column.main {
  padding-bottom: 0;
}

.modal-popup .modal-footer {
  display: none;
}

.content-wrapper {
  font-weight: 300;
  max-width: 1280px;
  margin: 0 auto;
  line-height: 1.4;
  background: #fff;
}

.content-wrapper .row {
  margin: 0;
}

.content-wrapper .column {
  flex-direction: column;
}

.content-wrapper .block-title {
  text-align: center;
  margin: 0;
}

.content-wrapper .widget .block-title > strong {
  font-size: 4rem;
  line-height: 1.5rem;
  font-weight: 300;
}

.content-wrapper .block.widget .products-grid .product-item {
  margin: 0;
}

.content-wrapper .widget.block-products-list .add-button {
  font-weight: 400;
}

.content-wrapper .widget.block-products-list .add-button:hover {
  background: #00388D;
  border: 1px solid #00388D;
  color: #fff;
}

.content-wrapper .product-item-link {
  text-transform: none;
}

.content-wrapper .widget.block-products-list .product-item-name {
  height: 52px;
}

.content-wrapper .price-wrapper {
  font-weight: 400;
}

.content-wrapper h1 {
  font-size: 60px;
  line-height: 1.3;
}

.content-wrapper h2 {
  font-size: 50px;
  line-height: 1.3;
}

.content-wrapper h3 {
  font-size: 35px;
  line-height: 1.3;
}

.content-wrapper h4 {
  font-size: 40px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper h5 {
  font-size: 30px;
  line-height: 1.4;
  font-weight: 300;
  margin-top: 2.6rem;
  margin-bottom: .4rem;
}

.content-wrapper h6 {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 300;
}

.content-wrapper p {
  font-size: 18px;
  line-height: 1.4;
}

.content-wrapper .weight400 {
  font-weight: 400;
}

.content-wrapper a {
  text-decoration: none;
  color: #212121;
  cursor: pointer;
}

.content-wrapper button {
  color: #424649;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: 1px solid #424649;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}

.content-wrapper li {
  font-size: 16px;
}

.content-wrapper .cta {
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 20px;
}

.content-wrapper .cta:hover {
  text-decoration: underline;
}

.content-wrapper .slick-list {
  margin-left: -18px;
}

.content-wrapper .slick-prev, .content-wrapper .slick-next {
  font-size: 0;
}

.content-wrapper .slick-arrow {
  background: none;
}

.content-wrapper .linkCTA {
  font-weight: 700;
  text-transform: uppercase;
}

.hero, .history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero img, .history img {
  width: 1280px;
  height: 100%;
}

.productInfo, .carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

.content-wrapper h1 {
  font-size: 68px;
}

.content-wrapper h3 {
  font-size: 24px;
}

.content-wrapper .slick-next, .content-wrapper .slick-arrow {
  border: none;
}

.content-wrapper .text-blue {
  color: #00388d;
}

.hero {
  height: 100%;
}

.hero .hero-img {
  width: 100%;
  float: left;
}

.hero .hero-img img {
  max-width: 1280px;
}

.hero .hero-text {
  text-align: center;
  padding-top: 7%;
  padding-left: 34%;
  position: absolute;
}

.hero .hero-text img {
  width: 225px;
  height: 78px;
  margin: 0 auto !important;
}

.hero .hero-text h1 {
  width: 95%;
  margin: 0 auto;
}

.history {
  background-image: url("https://www.dhccare.com/media/wysiwyg/dev_test/dc/dc-intro.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4%;
  height: 750px;
}

.history .history-img {
  display: none;
}

.history .history-upper, .history .history-lower {
  text-align: center;
  padding-left: 30%;
  width: 75%;
}

.history .history-upperDivider {
  background-image: url("https://www.dhccare.com/media/wysiwyg/dev_test/dc/3-drops.svg");
  background-repeat: repeat-x;
  width: 325px;
  height: 24px;
  margin: 0 auto 40px auto;
}

.history .history-lowerDivider {
  background-image: url("https://www.dhccare.com/media/wysiwyg/dev_test/dc/3-drops.svg");
  background-repeat: repeat-x;
  width: 109px;
  height: 24px;
  margin: 40px auto;
}

.info {
  background-color: rgba(255, 255, 255, 0.8);
  width: 85%;
  padding: 10px;
  margin: -170px auto 40px auto;
  z-index: 10;
  box-shadow: -1px -1px 15px 3px rgba(196, 196, 196, 0.6);
}

.info .info-border {
  position: relative;
  margin: 10px 20px;
  border: 2px solid #ffd54f;
}

.info .info-border:before {
  content: ' ';
  position: absolute;
  z-index: 2;
  top: 10px;
  left: -15px;
  right: -15px;
  bottom: 10px;
  border: 2px solid #ffd54f;
}

.info .info-whatIs {
  text-align: center;
  width: 82%;
  margin: 40px auto 40px auto;
  z-index: 97;
}

.info .stepsIcon {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 82%;
  margin: 0 auto 40px auto;
  text-align: center;
  z-index: 98;
}

.info .stepsIcon .step1, .info .stepsIcon .step2 {
  width: 40%;
}

.info .stepsIcon .step1 h6, .info .stepsIcon .step2 h6 {
  border-bottom: 1px solid #BDBDBD;
  width: 70px;
  margin: 20px auto;
  font-weight: 400;
  padding-bottom: 10px;
}

.info .stepsIcon .step1 p, .info .stepsIcon .step2 p {
  margin: 0;
}

.info .stepsIcon .info-icon {
  width: 22%;
  margin: 0 40px;
}

.info .benefits {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  width: 85%;
  margin: 0 auto;
  z-index: 99;
}

.info .benefit {
  width: 25%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.info .benefit .drop {
  width: 20px;
  margin: 0 auto 10px auto !important;
}

.info .benefit p {
  margin-left: auto;
  margin-right: auto;
  width: 78%;
  display: inline-block;
  font-size: 16px;
}

.info .benefit p.benefit-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
}

.info .video {
  width: 80%;
  margin: 20px auto 50px auto;
  cursor: pointer;
}

.info .video .video-thumbnail {
  max-width: 1068px;
  max-height: 140px;
  margin: 0 auto;
  z-index: 100;
  position: relative;
}

.info .video .video-thumbnail .wistia_click_to_play {
  display: inline-block !important;
}

.info .video .video-thumbnail .video-text {
  position: absolute;
  top: 10px;
  left: 40px;
}

.info .video .video-thumbnail .video-text .video-button {
  margin-right: 20px;
  width: 34px;
  height: 34px;
  vertical-align: middle;
  display: inline-block;
}

.info .video .video-thumbnail .video-text img {
  padding-top: 12px;
  width: 40px;
}

.info .video .video-thumbnail .video-text h5 {
  display: inline-block;
  vertical-align: middle;
  color: #000000;
}

.productInfo {
  width: 100%;
  padding-bottom: 140px;
}

.productInfo h2 {
  margin: 4rem  auto;
}

.productInfo #productsSlider {
  width: 90%;
  margin: 0 auto;
  padding-left: 3%;
}

.productInfo #productsSlider img {
  width: 320px;
  display: inline-block;
}

.productInfo #productsSlider .productInfo-details {
  display: flex;
  align-items: center;
}

.productInfo #productsSlider .productInfo-text {
  display: inline-block;
  width: 50%;
  margin-left: 58px;
}

.productInfo #productsSlider .productInfo-text .productInfo-desc {
  margin: 20px 0;
}

.productInfo #productsSlider .productInfo-text .productDesc-cta {
  margin: 0;
}

.productInfo #productsSlider .productInfo-text .productDesc-cta span {
  font-weight: 400;
  text-transform: uppercase;
}

.productInfo #productsSlider .slick-dots {
  bottom: -120px;
  left: 0;
}

.productInfo #productsSlider .slick-dots li {
  height: 75px;
  width: 90px;
  padding-left: 14px;
  border-left: 1px solid #BDBDBD;
}

.productInfo #productsSlider .slick-dots li:first-child {
  border-left: none;
}

.productInfo #productsSlider .slick-dots li img {
  margin: 0 auto;
}

.productInfo #productsSlider .slick-dots .slick-active a {
  border-bottom: 2px solid #00388d;
  padding-bottom: 6px;
}

.carousel {
  margin: 40px auto;
  text-align: center;
}

.carousel #setsCarousel {
  width: 90%;
  margin: 0 auto;
}

.carousel #setsCarousel .slick-track {
  width: 100% !important;
  margin: 0 auto;
}

.carousel #setsCarousel .slick-slide {
  width: 100% !important;
}

.carousel #setsCarousel .product-item {
  width: 200px;
}

.carousel #setsCarousel .widget .block-products-list .add-button {
  font-weight: 400;
}

.blog {
  height: 600px;
  margin: 0;
  padding: 0 0 20px 0;
}

.blog .blog-text {
  position: absolute;
  margin-left: 10%;
  display: inline-block;
  width: 28%;
}

.blog .blog-text h2 {
  margin-bottom: 2rem;
}

.blog .blog-text p {
  margin-bottom: 2rem;
}

.blog .blog-text a:hover {
  color: #00388d;
}

.blog .blog-img {
  width: 100%;
  display: inline-block;
  float: right;
}

.blog .blog-img img {
  width: 1280px;
  float: right;
}

@media only screen and (max-width: 1024px) {
  .cms-page-view .column.main p {
    margin: 0 auto 10px auto;
  }
  .content-wrapper h1 {
    font-size: 50px;
  }
  .content-wrapper h2 {
    font-size: 45px;
  }
  .content-wrapper .sectionDivider {
    width: 97%;
  }
  .content-wrapper .slick-list {
    margin-left: 0;
  }
  .hero {
    text-align: center;
    background: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .hero .hero-img {
    float: none;
  }
  .hero .hero-img img {
    max-width: 500px;
    max-height: 420px;
  }
  .hero .hero-text {
    position: relative;
    padding: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .hero-text h1 {
    width: 100%;
    font-size: 40px;
  }
  .history {
    background: none;
    display: flex;
    flex-direction: column;
  }
  .history .history-img {
    display: block;
    order: 2;
  }
  .history .history-img img {
    max-width: 450px;
    width: 100%;
  }
  .history .history-upper, .history .history-lower {
    padding: 8px;
    width: 100%;
  }
  .history .history-upper {
    order: 1;
  }
  .history .history-upper .history-upperDivider {
    width: 180px;
    height: 16px;
  }
  .history .history-lower {
    order: 3;
  }
  .history .history-lower .history-lowerDivider {
    width: 72px;
    height: 16px;
  }
  .info {
    margin: 220px auto 0 auto;
    width: 95%;
  }
  .info .info-border {
    padding-bottom: 14px;
  }
  .info .info-whatIs {
    width: 95%;
  }
  .info .info-whatIs h2 {
    font-size: 36px;
    width: 100%;
  }
  .info .stepsIcon {
    flex-direction: column;
    text-align: center;
    width: 95%;
  }
  .info .stepsIcon .step1 {
    order: 2;
    margin: 0 auto 10px auto;
    width: 95%;
  }
  .info .stepsIcon .step2 {
    order: 3;
    margin: 0 auto;
    width: 95%;
  }
  .info .stepsIcon .info-icon {
    order: 1;
    margin: 0 auto 10px auto;
  }
  .info .benefits {
    width: 100%;
    flex-direction: column;
  }
  .info .benefits .benefit {
    width: 100%;
  }
  .info .benefits .benefit .drop {
    width: 19px;
  }
  .info .video {
    width: 95%;
    margin-bottom: 30px;
  }
  .info .video .video-thumbnail .video-text {
    left: 0;
    top: 6px;
    margin: 0 auto;
    width: 100%;
  }
  .info .video .video-thumbnail .video-text .video-button {
    margin-right: 0;
    padding-top: 4px;
  }
  .info .video .video-thumbnail .video-text img {
    width: 26px;
  }
  .info .video .video-thumbnail .video-text h5 {
    font-size: 20px;
  }
  .productInfo {
    text-align: center;
    padding-bottom: 40px;
  }
  .productInfo #productsSlider {
    padding: 0;
  }
  .productInfo #productsSlider img {
    width: 150px;
  }
  .productInfo #productsSlider .productInfo-details {
    flex-direction: column;
  }
  .productInfo #productsSlider .productInfo-text {
    margin-left: 0;
    width: 95%;
  }
  .productInfo #productsSlider .productInfo-text .productDesc-cta {
    margin-bottom: 60px;
  }
  .productInfo #productsSlider .slick-dots {
    bottom: 0;
  }
  .productInfo #productsSlider .slick-dots li {
    height: 34px;
    width: 50px;
    padding: 0 8px;
  }
  .productInfo #productsSlider .slick-dots .slick-active a {
    padding-bottom: 0;
  }
  .carousel h3 {
    font-size: 28px;
  }
  .blog {
    text-align: center;
  }
  .blog .blog-text {
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 650px) and (max-width: 1024px) {
  .content-wrapper h1 {
    font-size: 68px;
  }
  .hero {
    text-align: center;
  }
  .hero .hero-img {
    width: 100%;
    height: inherit;
    float: left;
  }
  .hero .hero-img img {
    max-width: 100%;
    max-height: 100%;
  }
  .hero .hero-text {
    position: absolute;
    padding: 7% 0 0 40%;
  }
  .hero .hero-text h1 {
    width: 80%;
  }
  .history {
    display: inline-block;
  }
  .history .history-img {
    order: 1;
    width: 378px;
    height: 360px;
    display: inline-block;
  }
  .history .history-img img {
    margin-left: -160px;
    width: 740px;
  }
  .history .history-upper {
    text-align: left;
    order: 2;
    width: 50%;
    float: right;
  }
  .history .history-upper .history-upperDivider {
    width: 300px;
    height: 22px;
  }
  .history .history-lower {
    text-align: left;
    order: 3;
    width: 50%;
    float: right;
  }
  .history .history-lower .history-lowerDivider {
    width: 100px;
    height: 22px;
  }
  .info #ingredientsSlider .slick-active {
    width: 4.5% !important;
  }
}

/*# sourceMappingURL=styles.css.map */
